*
{

}
.container
{
    display: flex;
    align-items: center;
} 
.slider
{
    height: 70vh;
    width: 80%;
    margin: 4rem auto;
    border-radius: 10px;

}
.slider>img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.arrows
{
    font-size: 50px;
    margin: auto 2rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--text_color);
    background: var(--blue_color);
    transition: all .5s ease;
}
.arrows:active
{
    font-size: 40px;
}
